@font-face {
  font-family: "AlphaCentauri";
  src: url("/alphacentauri.ttf");
}

body, #root {
  margin: 0;
  height: 100%;
  width: 100%;
  paddgin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: url('/cursor.png'), auto;
}

.ant-layout-sider, .ant-layout-header, .ant-menu {
  background-color: #000;
  font-family: 'AlphaCentauri';
  color: #FFF;
}

.ant-layout-sider-trigger {
  background-color: #000;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected, .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
  background-color: #000;
}
.ant-menu:hover {
  cursor: url('/cursor.png'), auto;
}

.ant-btn:hover, a:hover {
  cursor: url('/hand.png'), auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
